In [5]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame({'col1': [0, np.nan, np.nan, 9],
                   'col2': [1, np.nan, np.nan, np.nan],
                   'col3': [2, np.nan, np.nan, np.nan],
                   'col4': [3, np.nan, 14, np.nan]})

In [14]:
df

   col1  col2  col3  col4
0   0.0   1.0   2.0   3.0
1   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN  14.0
3   9.0   NaN   NaN   NaN

In [15]:
df.fillna(method='ffill')

   col1  col2  col3  col4
0   0.0   1.0   2.0   3.0
1   0.0   1.0   2.0   3.0
2   0.0   1.0   2.0  14.0
3   9.0   1.0   2.0  14.0